.navbar {
    font-size: 1.1rem; /* Navbar linklerinin boyutu */
}
.navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 20px; /* Aralık miktarını ihtiyaca göre ayarla */
}
.navbar-collapse{
    flex-grow: 0.5 !important; /* Linklerin boş alan almasını engeller */
}
.navbar-brand, .nav-link {
    font-weight: bold; /* Kalın font */
    margin: 18px;
}
.nav-link:hover {
    color: #FF6500 !important; /* Açık turuncu */
}
.active, span {
    color: #FF6500 !important;
}

/* Content */
.card {
    width: 90%; /* Kartın genişliği */
    margin-bottom: 20px; /* Kartlar arası boşluk */
}
.card-img-top {
    height: 300px; /* Resmin yüksekliği */
    object-fit: cover; /* Resmin uygun şekilde kesilmesini sağlar */
}
.card-body {
    padding: 35px; /* İçerik kenar boşluğu */
    text-align: left; /* Metinleri sola hizala */
}
.category {
    font-weight: bold; /* Kategori başlığını kalın yap */
    margin-bottom: 10px; /* Kategori ve blog başlığı arasında boşluk */
}
.tags, .social-icons {
    display: flex;
    justify-content: space-between; /* İkonları yan yana ve aynı hizada yerleştir */
    margin-top: 15px; /* Üstten boşluk */
}
.tags span, .social-icons a {
    margin-right: 10px; /* İkonlar arasındaki boşluk */
}