
.post-container {
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc; /* Gri kenarlık */
}
.post-title {
    color: #333; /* Başlık rengi */
}
.category {
    background-color: #ff7f00; /* Kategori için turuncu arka plan */
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.color-orange {
    color: #ff7f00;
}
.btn-orange {
    color: white;
    background-color: #ff7f00;
}
.img-fluid {
    width: 100%; /* Resmin konteyneri tamamen kaplaması için */
    height: 300px; /* Yüksekliği kısaltma */
    object-fit: cover; /* Resmin orantılı şekilde boyutlandırılması için */
}
.comment {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Yorum arka plan rengi */
}
.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.comment-date {
    font-size: 0.8rem;
    color: #888;
}
.comment-form {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Form arka plan rengi */
}
